---
Language:        Cpp
BasedOnStyle:  Mozilla
ColumnLimit: 120
FixNamespaceComments: true
BreakBeforeBraces: Custom
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: MultiLine
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
...
