[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/unevens/ImGuiColorTextEdit
[submodule "imgui"]
	path = imgui
	url = https://github.com/unevens/imgui
[submodule "stb"]
	path = stb
	url = https://github.com/unevens/stb
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "ImNodeFlow"]
	path = ImNodeFlow
	url = https://github.com/unevens/ImNodeFlow
[submodule "ImTimeline"]
	path = ImTimeline
	url = https://github.com/unevens/ImTimeline
[submodule "imgui-node-editor"]
	path = imgui-node-editor
	url = https://github.com/unevens/imgui-node-editor
[submodule "glfw3webgpu"]
	path = glfw3webgpu
	url = https://github.com/unevens/glfw3webgpu
